// Colors
$background-color:#F4F5F7;
$secondary-background-color: #E2E4E9;
$main-color: #388E3C;
$secondary-color: #8BC34A;
$thrd-color: #DCE775;
$fourth-color: #FFF59D;

$main-color-text: #464646;
$reserve-color: #0a58ca;
$reserver-sec-color: #E6E6E6;
$border-color: #dfe1e6;

.main-color {
    color: $main-color;
}