@import '../../../style/general/colors';

.inputField {
    width: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    color: $main-color-text;
    border: 2px solid $border-color;
    padding: 5px;
    margin-bottom: 5px;
    font-size: 15px;
    &::placeholder {
        color: $main-color-text;
    }
}